<!DOCTYPE html>
<html>
<head>
    <title>Main</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/signup">Sign Up/Login</a>
        <a href="/dailyIntake">Daily Intake</a>
        <a href="/goals">Goals</a>
        <a href="/setGoals">Set Daily Goals</a>
    </div>
    <main>
        {{{body}}}
    </main>
</body>
</html>
