<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
    <!-- Link to external CSS -->
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <div class="section">
        <h2>Chicken Breast</h2>
        <p>Calories: 256</p>
        <p>Protein: 52g</p>
        <p>Carbs: 0g</p>
        <p>Fat: 5.4g</p>
    </div>
</body>
</html>